- user_has_edit_permissions = current_user.can?(:admin_compliance_framework, @project)
.row
  .form-group.col-md-9.gl-mb-6
    - if Feature.enabled?(:ff_custom_compliance_frameworks)
      - frameworks = @project.namespace.root_ancestor.compliance_management_frameworks
      - if user_has_edit_permissions
        = f.fields_for :compliance_framework_setting, ComplianceManagement::ComplianceFramework::ProjectSettings.new do |cf|
          = cf.label :framework, class: 'gl-font-weight-bold' do
            = _('Compliance framework  (optional)')
          - if frameworks.any?
            %p.text-secondary= _('Select required regulatory standard.')
            - selected_default_framework = @project.compliance_framework_setting&.compliance_management_framework&.id
            = cf.select :framework, options_for_select(frameworks.map { |fw| [fw.name.truncate(88), fw.id] }, selected_default_framework), { selected: '', prompt: _('Choose your framework'), include_blank: _('None') }, { class: 'form-control', disabled: false }
          - else
            %p.form-text.text-muted
              = _("No compliance frameworks are in use. Create one using the GraphQL API.")
      - else
        = f.fields_for :compliance_framework_setting, ComplianceManagement::ComplianceFramework::ProjectSettings.new do |cf|
          = cf.label :framework, class: 'gl-font-weight-bold' do
            = _('Compliance framework')
          - if frameworks.any?
            - selected_framework = @project.compliance_framework_setting&.compliance_management_framework&.name&.truncate(88) || _('None')
            = cf.text_field :framework, value: selected_framework, class: 'form-control read-only', disabled: true
            %p.form-text.text-muted
              = _("Customizable by owners.")
          - else
            %p.form-text.text-muted
              = _("No compliance frameworks are in use.")

    - else
      = f.fields_for :compliance_framework_setting, ComplianceManagement::ComplianceFramework::ProjectSettings.new do |cf|
        = cf.label :framework, _('Compliance framework (optional)'), class: 'gl-font-weight-bold'
        %p.text-secondary= _('Select required regulatory standard.')
        - selected_default_framework = @project.compliance_framework_setting&.compliance_management_framework&.default_framework_definition&.identifier
        = cf.select :framework, options_for_select(compliance_framework_options, selected_default_framework), { selected: '', disabled: '', prompt: _('Choose your framework'), include_blank: _('None') }, class: 'form-control'

